<div class="login-container">
    <h2>Login</h2>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="button" id="loginbtnid" onclick="authenticateUser()" value="Login">

        <input type="button" id="registerbtnid" onclick="changeRoute('/register')" value="New User ? Register">
    </div>
</div>