<div class="login-container">
    <h2>Registration</h2>
    <form>
        <label for="registerusername">Username:</label>
        <input type="text" id="registerusername" name="username" required>

        <label for="registerpassword">Password:</label>
        <input type="password" id="registerpassword" name="password" required>

        <label for="registercpassword">Confirm Password:</label>
        <input type="password" id="registercpassword" name="confirm password" required>

        <input type="button" id="registeruserbtnid" onclick="registerUser()" value="Register">
    </form>
</div>